nav > ul > li > ul {
    display: none;
}

nav > ul > li:hover > ul {
	display: block;
}


html, body, nav, nav > ul {
    margin: 0;
    padding: 0;
}

nav {
    background: #ececec;
}

nav > ul {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

nav > ul > li {
    display: block;
    padding: 1.2em;
    height: 1.5em;
    font-weight: bold;
}

nav > ul > li > ul {
    position: absolute;
    background-color: #ececec;
    list-style-type: none;
    font-weight: normal;
}
