nav > ul > li > ul {
    display: none;
}

nav > ul > li:hover > ul {
	display: block;
}


html, body, nav, nav > ul {
    margin: 0;
    padding: 0;
}

nav {
    background: #ececec;
}

nav > ul > li {
    display: inline-block;
    margin: 10px;
}

nav > ul > li > ul {
    position: absolute;
    background-color: #ececec;
    list-style-type: none;
}
